{% extends "include/base.html" %}
{% load static %}

{% block content %}

<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page">Favorite tests</h2>
    </div>
    <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            <!-- col.// -->
            <main class="col-md-12">
                <header class="border-bottom mb-4 pb-3">
                    <div class="form-inline">
                        <span class="mr-md-auto">
                            {{ tests|length }} Items found
                        </span>
                    </div>
                </header>
                <!-- sect-heading -->

                <div class="row">
                    {% for test in tests %}
                        <div class="col-md-4">
                            {% comment %} <a href="#" style="color: black">  {% endcomment %}
                                <div class="card p-3 card-product-grid">
                                    <figcaption class="info-wrap h-100">
                                        <div style="min-height: 180px">
                                            <h5 class="title"> {{ test.name }} </h5>
                                            <div>
                                                <i class="far fa-building"></i> {{ test.organization.name }}
                                            </div>
                                            <div class=" mt-2">
                                                <i class="fas fa-file-invoice-dollar"></i>
                                                Billing code: {{ test.billing_code }}
                                            </div> 
                                            <div class=" mt-2">
                                                <i class="fas fa-calendar-check"></i>
                                                TAT: {{ test.tat }} {{ test.tat_unit }}
                                            </div>
                                            <div class=" mt-2">
                                                {% if test.available %}
                                                    <i class="fas fa-check-circle"></i>
                                                    Available
                                                {% else %}
                                                    <i class="fas fa-times-circle"></i>
                                                    Not available
                        
                                                {% endif %}
                                            </div> 
                                        </div>
                                        <div class="row align-items-center mt-3">
                                            <a class="col-6 " href="{% url "add_request" test.id %}">
                                                <button class="btn btn-outline-primary w-100">
                                                    <i class="fas fa-plus"></i>
                                                    Request</button>
                                            </a>
                                            <a class="col-6 " href="{% url "favorite_remove" test.id %}">
                                                <button class="btn btn-outline-primary w-100">
                                                    <i class="fas fa-minus-circle"></i>
                                                    Remove</button>
                                            </a>
                                        </div>
                                    </figcaption>
                                </div>
                            {% comment %} </a> {% endcomment %}
                        </div>
                    {% endfor %}
                    
                </div> <!-- row.// -->
                <!-- row end.// -->

                {% comment %} <nav class="mt-4" aria-label="Page navigation sample">
                    <ul class="pagination">
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav> {% endcomment %}
            </main>
            <!-- col.// -->
        </div>
    </div>
    <!-- container .//  -->
</section>

{% endblock %}