{% extends "include/base.html" %}
{% load static %}

{% block content %}
    <section class="section-content padding-y bg">
        <div class="container">


            <!-- ============================ COMPONENT 2 ================================= -->
            <div class="row">
                <form class="col-md-8" action="{% url 'create-checkout-session' %}" method="POST">
                    {% csrf_token %}

                    <article class="card mb-4">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Review cart</h4>
                            <div class="row">
                                {% if request %}
                                    <table class="table table-borderless table-shopping-cart">
                                        <thead class="text-muted">
                                        <tr class="small text-uppercase">
                                            <th scope="col">Test</th>
                                            <th style="white-space:nowrap" scope="col" width="120">Unit</th>
                                            <th style="white-space:nowrap" scope="col">Cost</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for test in request %}
                                            <tr data-test-id="{{ test.id }}">
                                                <td>
                                                    <figure class="itemside align-items-center">
                                                        <figcaption class="info">
                                                            <a href="#" class="title text-dark">
                                                                {{ test.test.name }}
                                                            </a>
                                                            <p class="text-muted small">
                                                                Sample Type: {{ test.test.sample_type }}
                                                            </p>
                                                        </figcaption>
                                                    </figure>
                                                </td>
                                                <td>
                                                    {{ test.unit }}
                                                </td>
                                                <td>
                                                    TZS <span id="amount{{ test.test.id }}">{{ test.get_price }}</span>
                                                </td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <hr>
                                    <div class="p-3 pt-0">
                                        Total: {{ request|length }} tests
                                    </div>
                                {% else %}
                                    <div class="p-3" role="alert">
                                        No tests in the request
                                    </div>
                                {% endif %}
                            </div> <!-- row.// -->
                        </div> <!-- card-body.// -->
                    </article> <!-- card.// -->


                    <article class="card mb-4">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Contact info</h4>

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>First name*</label>
                                    <input required name="first_name" type="text" placeholder="Type here"
                                           class="form-control">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Last name*</label>
                                    <input required name="last_name" type="text" placeholder="Type here"
                                           class="form-control">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Phone*</label>
                                    <input required name="mobile" type="text" value="+255" class="form-control">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Email*</label>
                                    <input required name="email" type="email" placeholder="example@gmail.com"
                                           class="form-control">
                                </div>
                            </div> <!-- row.// -->

                        </div> <!-- card-body.// -->
                    </article> <!-- card.// -->


                    <article class="accordion" id="accordion_pay">
                        <div class="card">
                            <header class="card-header">

                                <label class="form-check collapsed" data-toggle="collapse"
                                       data-target="#collection_center">
                                    <input class="form-check-input" name="delivery-option" checked type="radio"
                                           value="collection-center">
                                    <h6 class="form-check-label">
                                        Collection Center
                                    </h6>
                                </label>
                            </header>
                            <div id="collection_center" class="collapse show" data-parent="#accordion_pay">
                                <div class="card-body">
                                    <select class="form-control" name="collection-center" id="center">
                                        <option value="" disabled selected>Select a collection center.</option>
                                        {% for ser in service %}
                                            <optgroup label="{{ ser.name }}">
                                                <option value="{{ ser.location }}">{{ ser.location }}</option>
                                            </optgroup>

                                        {% endfor %}
                                    </select>
                                    <input type="hidden" name="delivery_fee" id="deliveryFee" value="">
                                </div> <!-- card body .// -->
                            </div> <!-- collapse .// -->
                        </div> <!-- card.// -->
                        <div class="card">
                            <header class="card-header">
                                <label class="form-check" data-toggle="collapse" data-target="#collection_home">
                                    <input class="form-check-input" name="delivery-option" type="radio"
                                           value="collection-home">
                                    <h6 class="form-check-label">Collection Home</h6>
                                </label>
                            </header>
                            <div id="collection_home" class="collapse" data-parent="#accordion_pay">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Delivery info</h4>
                                    <div class="row">
                                        <div class="fs-4 d-inline-block mx-3">Delivery Type:</div>
                                        <div class="form-check mx-2">
                                            <input class="form-check-input" type="radio" name="delivery_type"
                                                   id="flexRadioDefault1"
                                                   value="standard" checked>
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Standard
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="delivery_type"
                                                   id="flexRadioDefault2"
                                                   value="express">
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                Express
                                            </label>
                                        </div>
                                        <select class="form-control mx-3 my-2" name="collection-center"
                                                id="center_for_home">
                                            <option value="" disabled selected>Select a collection center.</option>
                                            {% for ser in service %}
                                                <optgroup label="{{ ser.name }}">
                                                    <option value="{{ ser.location }}">{{ ser.location }}</option>
                                                </optgroup>
                                            {% endfor %}
                                        </select>
                                        <div class="form-group col-12 my-2">
                                            <label>Address*</label>
                                            <textarea class="form-control" rows="2" name="address"
                                                      id="address"></textarea>
                                        </div>
                                        <!-- Add a div to display the delivery fee -->
                                        <div class="col-12 my-2">
                                            <span id="delivery-fee" class="text-muted">Delivery Fee: </span>
                                        </div>
                                    </div> <!-- row.// -->
                                </div> <!-- card body .// -->
                            </div> <!-- collapse .// -->
                        </div> <!-- card.// -->
                        <script src="https://maps.googleapis.com/maps/api/js?key=REMOVED&libraries=places"></script>
                        <script>
                            // Initialize Google Maps Autocomplete
                            function initializeAutocomplete() {
                                const addressInput = document.getElementById('address');

                                // Create the autocomplete object and associate it with the textarea
                                const autocomplete = new google.maps.places.Autocomplete(addressInput, {
                                    componentRestrictions: {country: 'TZ'} // Optional: Restrict to a specific country
                                });
                                
                            }

                            // Call the initialize function when the window loads
                            google.maps.event.addDomListener(window, 'load', initializeAutocomplete);
                        </script>
                        <script>
                            $(document).ready(function () {
                                // Event listener for when the user focuses out of the address field
                                $('#address').on('blur', function () {
                                    // Get the values from the form
                                    var address = $(this).val();
                                    var deliveryType = $('input[name="delivery_type"]:checked').val();
                                    var serviceLocation = $('#center_for_home').val();

                                    // Check if all fields are filled
                                    if (address && deliveryType && serviceLocation) {
                                        // Send Ajax request to Django view
                                        $.ajax({
                                            url: '{% url "calculate_delivery_fee" %}', // Update with your view URL
                                            type: 'POST',
                                            data: {
                                                'address': address,
                                                'delivery_type': deliveryType,
                                                'service_location': serviceLocation,
                                                'csrfmiddlewaretoken': '{{ csrf_token }}' // Include CSRF token
                                            },
                                            success: function (response) {
                                                // Update the delivery fee
                                                if (response.delivery_fee) {
                                                    $('#delivery-fee').text('Delivery Fee: ' + response.delivery_fee);
                                                    $('#deliveryFee').attr('value', response.delivery_fee)
                                                    $('#place_order').attr('disabled', false);
                                                    $('#d_fee').text(response.delivery_fee + " TZS");
                                                    $('#total_price').text((parseFloat({{ request.first.get_sub_total }}) + parseFloat(response.delivery_fee)) + " TZS")
                                                } else {
                                                    $('#delivery-fee').text('Invalid address');
                                                    $('#place_order').attr('disabled', true)
                                                }

                                            },
                                            error: function (xhr, status, error) {
                                                console.error('Error calculating delivery fee:', error);
                                            }
                                        });
                                    } else {
                                        $('#delivery-fee').text('Please fill all fields to calculate delivery fee.');
                                    }
                                });
                            });
                        </script>

                    </article>

                    <script>
                        $(document).ready(function () {
                            // Function to toggle required attribute based on selected radio option
                            function toggleRequiredFields() {
                                if ($('input[name="delivery-option"]:checked').val() === 'collection-center') {
                                    $('#center').attr('required', true);
                                    $('#center_for_home').removeAttr('required');
                                    $('#address').removeAttr('required');
                                } else if ($('input[name="delivery-option"]:checked').val() === 'collection-home') {
                                    $('#center').removeAttr('required');
                                    $('#address').attr('required', true);
                                    $('#center_for_home').attr('required', true);
                                }
                            }

                            // Initial check on page load
                            toggleRequiredFields();

                            // Listen for changes in the radio button selection
                            $('input[name="delivery-option"]').change(function () {
                                toggleRequiredFields();
                            });
                        });
                    </script>

                    <article class="card my-4">

                        <div class="card-body">
                            <h4 class="card-title mb-4">Insurance membership info</h4>
                            <div class="h5">Do you have insurance membership?</div>
                            <label class="form-check">
                                <input type="radio" id="insurance_yes" class="form-check-input" name="insurance_status"
                                       value="yes">
                                <h6 class="form-check-label">
                                    Yes
                                </h6>
                            </label>
                            <label class="form-check">
                                <input type="radio" id="insurance_no" class="form-check-input" checked
                                       name="insurance_status"
                                       value="no">
                                <h6 class="form-check-label">
                                    No
                                </h6>
                            </label>
                            <div style="display: none" id="insurance_block">
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label>Insurance Membership ID</label>
                                        <input type="text" placeholder="Type here" class="form-control"
                                               name="insurance-id">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Expiry Date</label>
                                        <input type="date" placeholder="Type here" class="form-control"
                                               name="expiry-date">
                                    </div>

                                </div> <!-- row.// -->
                            </div>
                        </div> <!-- card-body.// -->
                    </article>
                    <script>
                        $(document).ready(function () {
                            // Function to toggle display and required attributes based on radio button selection
                            function toggleInsuranceFields() {
                                if ($('#insurance_yes').is(':checked')) {
                                    $('#insurance_block').show(); // Show the insurance block
                                    $('input[name="insurance-id"]').attr('required', true); // Make Insurance Membership ID required
                                    $('input[name="expiry-date"]').attr('required', true); // Make Expiry Date required
                                } else {
                                    $('#insurance_block').hide(); // Hide the insurance block
                                    $('input[name="insurance-id"]').removeAttr('required'); // Remove required attribute
                                    $('input[name="expiry-date"]').removeAttr('required'); // Remove required attribute
                                }
                            }

                            // Initial check on page load
                            toggleInsuranceFields();

                            // Listen for changes in the radio button selection
                            $('input[name="insurance_status"]').change(function () {
                                toggleInsuranceFields();
                            });
                        });

                    </script>

                    <input type="hidden" name="price" value="{{ request.first.get_sub_total }}">
                    <button class="btn btn-primary btn-block" id="place_order"> Place Order</button>

                </form> <!-- col.// -->
                <aside class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <dl class="dlist-align">
                                <dt>Total price:</dt>
                                <dd class="text-right"> {{ request.first.get_sub_total }} TZS</dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Delivery fee:</dt>
                                <dd class="text-right" id="d_fee"> 00 TZS</dd>
                            </dl>
                            <dl class="dlist-align">
                                <dt>Total:</dt>
                                <dd class="text-right text-dark b">
                                    <strong id="total_price">{{ request.first.get_sub_total }} TZS</strong></dd>
                            </dl>
                            <hr>
                            <p class="text-center mb-3">
                                <img src="{% static 'images/misc/payments.png' %}" height="26">
                            </p>
                        </div> <!-- card-body.// -->
                    </div> <!-- card.// -->
                </aside> <!-- col.// -->
            </div> <!-- row.// -->

            <!-- ============================ COMPONENT 2 END//  ================================= -->


        </div> <!-- container .//  -->
    </section>
{% endblock %}
